<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="login-panel panel panel-default panel-transparent" style="margin-top:5%;">
				<div class="panel-heading">

					<h3 class="panel-title" style="font-size:20px">
						<center>
							<div style="text-align: center" ng-controller="TileCtrl">
								<h1><font color="grey">{enter your tiles}</font></h1>
								<form novalidate name="myForm" class="form-horzontal" ng-submit="play(tiles)">

									<input name="letters" type="text" ng-model="tiles" style="padding: 11px 19px;font-size: 22px;" maxlength="7" ng-pattern="/^[a-zA-Z]*$/" required>

									<input type="submit" value="Go!" class="btn btn-primary btn-lg raised" ng-disabled="myForm.$invalid">

				</form> 
				<div>
					<font color="grey">{{result}}</font>

				</div>
			</div>
		</center>
	</h3>
</div>
</div>
</div>
</div>
</div>

