@import "bootstrap-sprockets";
@import "bootstrap";

html {
overflow-y: scroll;
}

body {
padding-top: 150px;

padding-left: 45px;
background: url('scrabble.jpg');
background-size: 100%;
background-size: cover;
}

section {
overflow: auto;
}

textarea {
resize: vertical;
}

.center {
text-align: center;
}

.center h1 {
margin-bottom: 10px;
}